@font-face {
    font-family: "GilroyExtraBold";
    src: url("Gilroy-ExtraBold.otf");
}
  
@font-face {
    font-family: "GilroyLight";
    src: url("Gilroy-Light.otf");
  }

*{
      box-sizing: border-box;
      padding:20px;
  }

  body {
    
    background-position: fixed;
    background-repeat: no-repeat;
    background-color: rgb(39, 78, 155);
    text-align:center;
  }
  

code {
    display:inline-flex;
    font-size: 30px;
    color:greenyellow;
    background-color: black;
    flex-wrap: wrap;
}

form {
    border-style: double;
    border-color: rgb(255, 255, 255);
    border-width: 10px;
    background-color: rgb(0, 0, 0);
    width:100%;
    font-size: 50px;
    }

.button{
    display:flex;
    justify-content: left;

  }
  
  input[type=submit] {
    text-align: center;
    padding: 3px;
    font-size: 0.3em;
    background-color: rgb(255, 251, 0);
}



h1 {
    font-family: "GilroyExtraBold", serif;
    font-size: 6vw;
    color: #f5b32f;
    padding-left: 1vw;
    text-align: center;
  }
  
h2, h3 {
    font-family: "GilroyExtraBold", serif;
    margin-top: 0;
    font-size: 3vw;
    text-align: center;
    padding-left: 0vw;
    color: #f5b32f;
  }
  
p {
    font-family: "gilroylight", serif;
    position:relative;
    display:block;
    text-align: center;
    font-size: 2vw;
    color: white;
  }
  
a {
    position:relative;
    text-align: center;
    display: block;
    font-size: 2.5vw;
    color: #f5b32f;
    font-family: "GilroyExtraBold", serif;
  }
  
  
img {
    display: flex;
    justify-content:center;
    height: auto;
    width: 20%;
    opacity:65%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }
  
  
a:focus {
    color: #f5b32f;
  }
  
a:hover {
    color:rgb(218, 215, 52);
  }
  

  
ul {
    display: block;
    text-align: center;
    font-family: "gilroylight", serif;
    font-size: 25px;
    color: #f5b32f;
}
  
